label {
	margin-left: 4px;
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=text]{
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	resize: vertical;
	margin: 5px auto;
}

select{
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	resize: vertical;
	margin: 5px auto;
}


input[type=submit] {
	background-color: #4CAFFF;
	color: white;
	padding:10px 10px;
	border: none;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
}

.container {
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
	height: 200px;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col-35 {
	float: left;
	width: 35%;
	margin-top: 6px;
}

.col-65 {
	float: left;
	width: 65%;
	margin-top: 6px;
}

.submitbutton{
	text-align: center;
}

.error-code{
	color: red;
	margin-left: 5px;
}

.answer-code{
	margin-top: 5px;
	margin-left: 5px;
	color: blue;
}